html
  head
    title MultiTwitch
  body
    .container
      h1.container__title How to use:
      p.container__el http://erwingo.tk/multitwitch/{stream1}/{stream2}/{stream3}/...
      h1.container__title Example:
      a.container__link(href='http://erwingo.tk/multitwitch/stream1/stream2')
          | http://erwingo.tk/multitwitch/stream1/stream2
      h1.container__title Github Project:
      a.container__link(href='https://github.com/erwingo/multitwitch')
        img.container__link__img(src=require('./_media/github.svg'))
